<md-card layout-sm="column" layout-gt-md="row" layout-padding>
    <div layout-xs="column" layout-gt-sm="row" flex-xs="1" flex-gt-md="40">
        <md-input-container md-theme="dark" class="md-block" flex-xs="1" flex-gt-sm="50">
            <label>Type Of Store</label>
            <md-select ng-model="vm.store">
                <md-option ng-repeat="select in [1,2,3,4,5]" ng-value="select">Type Of Store {{select}}</md-option>
            </md-select>
        </md-input-container>
        <md-input-container md-theme="dark" class="md-block" flex-xs="1" flex-gt-sm="50">
            <label>Type Of Vendor</label>
            <md-select ng-model="vm.vendor">
                <md-option ng-repeat="select in [1,2,3,4,5]" ng-value="select">Type Of Vendor {{select}}</md-option>
            </md-select>
        </md-input-container>
    </div>
    <div layout-xs="column" layout-gt-sm="row" flex-xs="1" flex-gt-md="60">
        <md-input-container md-theme="dark" class="md-block" flex-xs="1" flex-gt-sm="33">
            <label>Gender Type</label>
            <md-select ng-model="vm.gender">
                <md-option ng-repeat="select in [1,2,3,4,5]" ng-value="select">Gender {{select}}</md-option>
            </md-select>
        </md-input-container>
        <md-input-container md-theme="dark" class="md-block" flex-xs="1" flex-gt-sm="33">
            <label>Store Location</label>
            <md-select ng-model="vm.location">
                <md-option ng-repeat="select in [1,2,3,4,5]" ng-value="select">Store Location {{select}}</md-option>
            </md-select>
        </md-input-container>
        <md-input-container md-theme="dark" class="md-block" flex-xs="1" flex-gt-sm="33">
            <label>Best Store</label>
            <md-select ng-model="vm.best">
                <md-option ng-repeat="select in [1,2,3,4,5]" ng-value="select">Best Store {{select}}</md-option>
            </md-select>
        </md-input-container>
    </div>
</md-card>
<md-tabs class="arrow-navigation" tabs-autoplay="10000" md-align-tabs="bottom" md-center-tabs="true" md-dynamic-height="true" md-selected="0" md-stretch-tabs="never" md-no-ink-bar="true">
    <!---->
    <md-tab ng-repeat="slide in [1,2,3,4,5]">
        <md-tab-label>{{$index + 1}}</md-tab-label>
        <md-tab-body>
            <md-card layout-padding>
                <md-grid-list
                        md-cols-xs="1" md-cols-sm="2" md-cols-md="3" md-cols-lg="4" md-cols-xl="4"
                        md-row-height="2:2" md-gutter="16px">
                    <md-grid-tile ng-repeat="vendor in vm.listVendor">
                        <md-grid-tile-header>{{vendor}}</md-grid-tile-header>
                        <div afkl-lazy-image-options='{"imgAttrs": [{"title": ""}, {"alt": ""}]}' afkl-lazy-image="img/product.jpg" class="afkl-lazy-wrapper"></div>
                        <md-grid-tile-footer ng-style="{background: vm.listColor[$index % vm.listColor.length]}"></md-grid-tile-footer>
                    </md-grid-tile>
                </md-grid-list>
            </md-card>
        </md-tab-body>
    </md-tab>

</md-tabs>



<!--<material-pagination wmp-total="vm.last_page" goto-page="vm.gotoPage()" position="center" current-page="vm.current_page" step="vm.per_page">-->
<!--</material-pagination>-->
<md-menu>
    <md-button class="md-warn" aria-label="Open phone interactions menu" ng-click="$mdMenu.open($event)">
        westfield London
    </md-button>
    <md-menu-content width="4">
        <md-menu-item ng-repeat="menu in [1,2,3,4,5]">
            <md-button class="md-warn">
                westfield London {{menu}}
            </md-button>
        </md-menu-item>
    </md-menu-content>
</md-menu>