<md-card>
    <md-toolbar class="md-table-toolbar md-default" ng-hide="vm.selected.length || vm.filter.show">
        <div class="md-toolbar-tools">
            <div flex></div>
            <md-button class="md-icon-button" ng-click="vm.filter.show = true">
                <md-icon>search</md-icon>
            </md-button>
            <md-button class="md-icon-button" ng-click="vm.add()">
                <md-icon>add</md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-toolbar class="md-table-toolbar md-default" ng-show="vm.filter.show && !vm.selected.length">
        <div class="md-toolbar-tools">
            <md-icon>search</md-icon>
            <form flex>
                <input type="text" ng-model="vm.query.filter" ng-model-options="vm.filter.options" placeholder="search">
            </form>
            <md-button class="md-icon-button" ng-click="vm.removeFilter()">
                <md-icon>close</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-toolbar class="md-table-toolbar" ng-show="vm.selected.length">
        <div class="md-toolbar-tools" layout-align="space-between center">
            <div>{{vm.selected.length}} {{vm.selected.length > 1 ? 'items' : 'item'}} selected</div>
            <md-button class="md-icon-button" ng-click="vm.delete()">
                <md-icon>delete</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-table-container>
        <table md-table md-progress="vm.promise" md-row-select multiple ng-model="vm.selected">
            <thead md-head md-order="vm.query.order" md-on-reorder="vm.getDatas">
            <tr md-row>
                <th md-column ng-repeat="header in vm.headers" md-order-by="{{header.key}}">{{header.label}}</th>
                <th md-column style="text-align: center"><span>Edit</span></th>
            </tr>
            </thead>
            <tbody md-body>
            <tr md-row md-select="data" ng-repeat="data in vm.dataTable.data">
                <td md-cell ng-repeat="header in vm.headers" ng-bind-html="data[header.key]"></td>
                <td md-cell width="60">
                    <md-button ng-click="vm.edit(data)" class="md-icon-button md-button">
                        <md-tooltip md-direction="top" md-autohide="true">Edit User</md-tooltip>
                        <md-icon md-font-set="material-icons">edit</md-icon>
                    </md-button>
                </td>
            </tr>
            </tbody>
        </table>
    </md-table-container>

    <md-table-pagination md-limit="vm.query.limit" md-limit-options="vm.limitOptions" md-page="vm.query.page" md-total="{{vm.dataTable.total}}" md-page-select md-on-paginate="vm.getDatas"></md-table-pagination>
</md-card>